body {
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    position: relative;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #4e4e6e;
    border-radius: 10px;
    background-color: #222244;
}

#status p {
    margin: 10px 0;
    font-size: 16px;
}

button {
    background-color: #3a86ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #265ed3;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4e4e6e;
}
img{
    height: 400px;
    width: 400px;
}